<main>
    <h2>
        Edit Profile
    </h2>
    <%= form_for @user, url: profile_path do |f| %>
        <p>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </p>
        <p>
            <%= f.label :bio %>
            <%= f.text_area :bio %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</main>