<main>
    <h2>
        Profile page for <%= @user.username %>
    </h2>
    <%= link_to "Edit Profile", edit_profile_path %>
    <p>
        <%= @user.bio %>
    <p>
        <%= @user.username %> has <%= @user.posts.count %> posts.
    </p>
    <h3>
        Posts
    </h3>
    <ul>
        <% @user.posts.each do |post| %>
            <li>
                <%= link_to post.title, post_path(post) %>
            </li>
        <% end %>
</main>

