<main>
    <h2>
        <%= @user.username %>'s Profile
    </h2>
    <p>
        <% if @user.profile_picture %>
            <%= image_tag(@user.profile_picture) %>
        <% end %>
    </p>
    <%= link_to "Edit Profile", edit_profile_path %>
    <p>
        <%= @user.bio %>
    </p>
    <p>
        <%= @user.username %> has <%= @user.posts.count %> posts.
    </p>
    <p>
        <%= @user.username %> has <%= @user.friends.count %> friends.
    </p>
    <p>
        <%= link_to "Create a new post", new_post_path %>
    </p>
    <h3>
        Posts
    </h3>
        <% @user.posts.each do |post| %>
                <%= link_to post.title, post_path(post) %>
        <% end %>
</main>

