<main>
    <h2>
        <%= @user.username %>'s Friends
    </h2>
    <p>
        <%= link_to "Add Friend", new_friend_request_path %>
    </p>
    <p>
        <%= link_to "Pending Friend Requests", friend_requests_path %>
    </p>
    <% @friendships.each do |friendship| %>
        <% if friendship.user_id === Current.user.id %>
            <%= image_tag friendship.friend.profile_picture %>
            <%= link_to friendship.friend.username, profile_path(friendship.friend) %>
            <%= button_to "Unfriend", delete_friendship_path(friendship), method: :delete, data: { confirm: "Are you sure?" } %>
        <% else %>
            <%= image_tag friendship.user.profile_picture %>
            <%= link_to friendship.user.username, profile_path(friendship.friend) %>
            <%= button_to "Unfriend", delete_friendship_path(friendship), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    <% end %>
</main>