<main>
    <h2>
        Feed for <%= Current.user.username %>
    </h2>
    <p>
        <%= link_to "Create Post", new_post_path %>
    </p>
        <% @posts.each do |post| %>
                <div>
                    <%= image_tag post.user.profile_picture %>
                </div>
                <p>
                    Post by <%= post.user.username %>
                </p>
                <p>
                    <%= link_to post.title, post_path(post) %>
                </p>
                <p>
                    <%= post.body %>
                </p>
        <% end %>
</main>