<main>
    <div>
        <h2>
            <%= @post.title %>
        </h2>
        <p>
            <%= image_tag(@post.user.profile_picture) %>
        </p>
        <%= @post.body %>
        Post by <%= @post.user.username %>
        <p>
            <%= link_to "Edit Post", edit_post_path(@post) %>
        </p>
        <p>
            <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    </div>
    <h2>Comments</h2>
    <%= form_with(model: [ @post, Comment.new ], local: true) do |form| %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <div>
            <%= form.label :content %><br>
            <%= form.text_area :content %>
        </div>
        <div>
            <%= form.submit 'Add Comment' %>
        </div>
    <% end %>

    <ul>
        <% @post.comments.each do |comment| %>
            <li><%= comment.content %></li>
        <% end %>
    </ul>
</main>