<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TeaTable" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div id="title-container">
          <h1>TeaTable</h1>
          <p>A relaxing space to share your thoughts</p>
        </div>
        <div id="image-container">
          <div id="color-fade"></div>
          <%= image_tag "teaTable.jpg" %>
        </div>
    </header>
    <%= yield %>
    <footer>
      <div id="footer-links">
        <%= link_to image_tag("teadrop.png"), feed_path %>
        <%= link_to image_tag("teacup.png"), profile_path(Current.user) %>
        <%= link_to image_tag("teabag.png"), new_post_path %>
        <%= link_to image_tag("teafriends.png"), friendships_path %>
        <% if Current.user %>
          <%= link_to image_tag("logout.png"), logout_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>
        <% else %>
          <%= link_to image_tag("login.png"), root_path %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
